USE [master]
GO
/****** Object:  Database [Library_Management_System]    Script Date: 8/25/2026 2:45:09 PM ******/
CREATE DATABASE [Library_Management_System]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LibraryManagementSystem', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\LibraryManagementSystem.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'LibraryManagementSystem_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\LibraryManagementSystem_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Library_Management_System].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Library_Management_System]
GO
/****** Object:  UserDefinedTableType [dbo].[SaleItemTableType]    Script Date: 8/25/2026 2:45:10 PM ******/
CREATE TYPE [dbo].[SaleItemTableType] AS TABLE(
	[BookCopyID] [int] NULL,
	[SalePrice] [decimal](10, 2) NULL
)
GO
/****** Object:  Table [dbo].[BookCategory]    Script Date: 8/25/2026 2:45:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BookCategory](
	[BookCategoryID] [int] NOT NULL,
	[BookCategoryName] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK__BookCate__6347EC6400AAD388] PRIMARY KEY CLUSTERED 
(
	[BookCategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ__BookCate__88510552D8257574] UNIQUE NONCLUSTERED 
(
	[BookCategoryName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Book]    Script Date: 8/25/2026 2:45:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Book](
	[BookID] [int] IDENTITY(1,1) NOT NULL,
	[BookCategoryID] [int] NOT NULL,
	[AuthorName] [nvarchar](100) NOT NULL,
	[Title] [nvarchar](100) NOT NULL,
	[ISBN] [int] NOT NULL,
	[PublicationYear] [smallint] NULL,
	[Description] [nvarchar](200) NULL,
 CONSTRAINT [PK__Book__3DE0C227E474ED35] PRIMARY KEY CLUSTERED 
(
	[BookID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ__Book__447D36EAB745D4FE] UNIQUE NONCLUSTERED 
(
	[ISBN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BookCopy]    Script Date: 8/25/2026 2:45:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BookCopy](
	[BookCopyID] [int] IDENTITY(1,1) NOT NULL,
	[BookID] [int] NOT NULL,
	[BookCopyStatus] [int] NULL,
 CONSTRAINT [PK__BookCopy__5770EDE739105455] PRIMARY KEY CLUSTERED 
(
	[BookCopyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[view_GetAllBooks]    Script Date: 8/25/2026 2:45:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[view_GetAllBooks]
AS
SELECT
    Book.BookID,
    Book.AuthorName,
    Book.Title,
    Book.ISBN,
    Book.PublicationYear,
    BookCategory.BookCategoryName,

    (
        SELECT COUNT(*)
        FROM BookCopy
        WHERE BookCopy.BookID = Book.BookID
          AND BookCopy.BookCopyStatus = 1
    ) AS AvailableCopies

FROM Book

INNER JOIN BookCategory
    ON Book.BookCategoryID = BookCategory.BookCategoryID;
GO
/****** Object:  Table [dbo].[Person]    Script Date: 8/25/2026 2:45:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Person](
	[PersonID] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Address] [nvarchar](50) NULL,
	[Phone] [nvarchar](20) NULL,
	[Email] [nvarchar](20) NULL,
	[DateOfBirth] [date] NULL,
	[CreatedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[PersonID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Borrowing]    Script Date: 8/25/2026 2:45:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Borrowing](
	[BorrowingID] [int] IDENTITY(1,1) NOT NULL,
	[BookCopyID] [int] NOT NULL,
	[MemberID] [int] NOT NULL,
	[BorrowDate] [date] NOT NULL,
	[DueDate] [date] NOT NULL,
	[ReturnDate] [date] NULL,
	[BorrowingFee] [decimal](10, 2) NULL,
	[ReturnUserID] [int] NULL,
	[UserID] [int] NOT NULL,
 CONSTRAINT [PK__Borrowin__6CD933F731E0DA3A] PRIMARY KEY CLUSTERED 
(
	[BorrowingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Member]    Script Date: 8/25/2026 2:45:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Member](
	[MemberID] [int] IDENTITY(1,1) NOT NULL,
	[PersonID] [int] NOT NULL,
	[StartDate] [date] NOT NULL,
	[EndDate] [date] NOT NULL,
	[MemberStatus] [bit] NOT NULL,
 CONSTRAINT [PK__Member__0CF04B380C4B2401] PRIMARY KEY CLUSTERED 
(
	[MemberID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ__Member__AA2FFB84A937BD4F] UNIQUE NONCLUSTERED 
(
	[PersonID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[view_GetBorrowing]    Script Date: 8/25/2026 2:45:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [dbo].[view_GetBorrowing]
as
SELECT        Borrowing.BorrowingID, Person.FullName, Book.Title, Borrowing.BorrowDate, Borrowing.DueDate, Borrowing.ReturnDate
FROM            Borrowing INNER JOIN
                         BookCopy ON Borrowing.BookCopyID = BookCopy.BookCopyID INNER JOIN
                         Book ON BookCopy.BookID = Book.BookID INNER JOIN
                         Member ON Borrowing.MemberID = Member.MemberID INNER JOIN
                         Person ON Member.PersonID = Person.PersonID
GO
/****** Object:  View [dbo].[view_GetAllMembers]    Script Date: 8/25/2026 2:45:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE VIEW [dbo].[view_GetAllMembers]
as
SELECT        Member.MemberID,Person.FullName, Member.StartDate, Member.EndDate,
Case  Member.MemberStatus
	When 1 Then 'Active'
	else 'Inactive'
  END AS MemberStatus
FROM            Member INNER JOIN
                         Person ON Member.PersonID = Person.PersonID
GO
/****** Object:  Table [dbo].[Author]    Script Date: 8/25/2026 2:45:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Author](
	[AuthorID] [int] NOT NULL,
	[PersonID] [int] NOT NULL,
	[Biography] [nvarchar](100) NULL,
 CONSTRAINT [PK__Author__70DAFC148544EBF8] PRIMARY KEY CLUSTERED 
(
	[AuthorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ__Author__AA2FFB845136AECD] UNIQUE NONCLUSTERED 
(
	[PersonID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Fine]    Script Date: 8/25/2026 2:45:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Fine](
	[FineID] [int] IDENTITY(1,1) NOT NULL,
	[BorrowingID] [int] NOT NULL,
	[FineTypeID] [int] NOT NULL,
	[FineAmount] [decimal](10, 2) NOT NULL,
	[FineDate] [date] NOT NULL,
	[IsPaid] [bit] NOT NULL,
	[UserID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[FineID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FineType]    Script Date: 8/25/2026 2:45:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FineType](
	[FineTypeID] [int] IDENTITY(1,1) NOT NULL,
	[FineTypeName] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[FineTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payment]    Script Date: 8/25/2026 2:45:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payment](
	[PaymentID] [int] IDENTITY(1,1) NOT NULL,
	[SaleID] [int] NULL,
	[FineID] [int] NULL,
	[BorrowingID] [int] NULL,
	[MemberID] [int] NULL,
	[PaymentAmount] [decimal](10, 2) NOT NULL,
	[PaymentDate] [datetime2](7) NOT NULL,
	[UserID] [int] NOT NULL,
	[Notes] [nvarchar](100) NULL,
 CONSTRAINT [PK__Payment__9B556A5816D67ED5] PRIMARY KEY CLUSTERED 
(
	[PaymentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sale]    Script Date: 8/25/2026 2:45:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sale](
	[SaleID] [int] IDENTITY(1,1) NOT NULL,
	[PersonID] [int] NOT NULL,
	[SaleDate] [datetime2](7) NULL,
	[UserID] [int] NOT NULL,
	[TotalAmount] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[SaleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SaleItem]    Script Date: 8/25/2026 2:45:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SaleItem](
	[SaleItemID] [int] IDENTITY(1,1) NOT NULL,
	[SaleID] [int] NOT NULL,
	[BookCopyID] [int] NOT NULL,
	[SalePrice] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SaleItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[BookCopyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 8/25/2026 2:45:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[PersonID] [int] NOT NULL,
	[UserName] [nvarchar](100) NOT NULL,
	[PasswordHash] [nvarchar](100) NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK__User__1788CCAC67F7B0EB] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ__User__AA2FFB84C2F5C805] UNIQUE NONCLUSTERED 
(
	[PersonID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ__User__C9F28456820C8375] UNIQUE NONCLUSTERED 
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BookCopy] ADD  CONSTRAINT [DF__BookCopy__BookCo__5CD6CB2B]  DEFAULT ('Available') FOR [BookCopyStatus]
GO
ALTER TABLE [dbo].[Borrowing] ADD  CONSTRAINT [DF__Borrowing__Borro__60A75C0F]  DEFAULT (getdate()) FOR [BorrowDate]
GO
ALTER TABLE [dbo].[Fine] ADD  DEFAULT (getdate()) FOR [FineDate]
GO
ALTER TABLE [dbo].[Fine] ADD  DEFAULT ((0)) FOR [IsPaid]
GO
ALTER TABLE [dbo].[Member] ADD  CONSTRAINT [DF_Member_Status]  DEFAULT ((1)) FOR [MemberStatus]
GO
ALTER TABLE [dbo].[Payment] ADD  CONSTRAINT [DF_Payment_PaymentDate]  DEFAULT (sysdatetime()) FOR [PaymentDate]
GO
ALTER TABLE [dbo].[Person] ADD  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Sale] ADD  DEFAULT (getdate()) FOR [SaleDate]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF__User__IsActive__48CFD27E]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Author]  WITH CHECK ADD  CONSTRAINT [FK_Author_Person] FOREIGN KEY([PersonID])
REFERENCES [dbo].[Person] ([PersonID])
GO
ALTER TABLE [dbo].[Author] CHECK CONSTRAINT [FK_Author_Person]
GO
ALTER TABLE [dbo].[Book]  WITH CHECK ADD  CONSTRAINT [FK_Book_Category] FOREIGN KEY([BookCategoryID])
REFERENCES [dbo].[BookCategory] ([BookCategoryID])
GO
ALTER TABLE [dbo].[Book] CHECK CONSTRAINT [FK_Book_Category]
GO
ALTER TABLE [dbo].[BookCopy]  WITH CHECK ADD  CONSTRAINT [FK_BookCopy_Book] FOREIGN KEY([BookID])
REFERENCES [dbo].[Book] ([BookID])
GO
ALTER TABLE [dbo].[BookCopy] CHECK CONSTRAINT [FK_BookCopy_Book]
GO
ALTER TABLE [dbo].[Borrowing]  WITH CHECK ADD  CONSTRAINT [FK_BookCopy_Borrowing] FOREIGN KEY([BookCopyID])
REFERENCES [dbo].[BookCopy] ([BookCopyID])
GO
ALTER TABLE [dbo].[Borrowing] CHECK CONSTRAINT [FK_BookCopy_Borrowing]
GO
ALTER TABLE [dbo].[Borrowing]  WITH CHECK ADD  CONSTRAINT [FK_Member_Borrowing] FOREIGN KEY([MemberID])
REFERENCES [dbo].[Member] ([MemberID])
GO
ALTER TABLE [dbo].[Borrowing] CHECK CONSTRAINT [FK_Member_Borrowing]
GO
ALTER TABLE [dbo].[Borrowing]  WITH CHECK ADD  CONSTRAINT [FK_User_Borrowing] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Borrowing] CHECK CONSTRAINT [FK_User_Borrowing]
GO
ALTER TABLE [dbo].[Fine]  WITH CHECK ADD  CONSTRAINT [FK_Fine_Borrowing] FOREIGN KEY([BorrowingID])
REFERENCES [dbo].[Borrowing] ([BorrowingID])
GO
ALTER TABLE [dbo].[Fine] CHECK CONSTRAINT [FK_Fine_Borrowing]
GO
ALTER TABLE [dbo].[Fine]  WITH CHECK ADD  CONSTRAINT [FK_Fine_FineType] FOREIGN KEY([FineTypeID])
REFERENCES [dbo].[FineType] ([FineTypeID])
GO
ALTER TABLE [dbo].[Fine] CHECK CONSTRAINT [FK_Fine_FineType]
GO
ALTER TABLE [dbo].[Fine]  WITH CHECK ADD  CONSTRAINT [FK_Fine_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Fine] CHECK CONSTRAINT [FK_Fine_User]
GO
ALTER TABLE [dbo].[Member]  WITH CHECK ADD  CONSTRAINT [FK_Member_Person] FOREIGN KEY([PersonID])
REFERENCES [dbo].[Person] ([PersonID])
GO
ALTER TABLE [dbo].[Member] CHECK CONSTRAINT [FK_Member_Person]
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD  CONSTRAINT [FK_Payment_Fine] FOREIGN KEY([FineID])
REFERENCES [dbo].[Fine] ([FineID])
GO
ALTER TABLE [dbo].[Payment] CHECK CONSTRAINT [FK_Payment_Fine]
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD  CONSTRAINT [FK_Payment_Member] FOREIGN KEY([MemberID])
REFERENCES [dbo].[Member] ([MemberID])
GO
ALTER TABLE [dbo].[Payment] CHECK CONSTRAINT [FK_Payment_Member]
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD  CONSTRAINT [FK_Payment_Sale] FOREIGN KEY([SaleID])
REFERENCES [dbo].[Sale] ([SaleID])
GO
ALTER TABLE [dbo].[Payment] CHECK CONSTRAINT [FK_Payment_Sale]
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD  CONSTRAINT [FK_Payment_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Payment] CHECK CONSTRAINT [FK_Payment_User]
GO
ALTER TABLE [dbo].[Sale]  WITH CHECK ADD  CONSTRAINT [FK_Person_Sale] FOREIGN KEY([PersonID])
REFERENCES [dbo].[Person] ([PersonID])
GO
ALTER TABLE [dbo].[Sale] CHECK CONSTRAINT [FK_Person_Sale]
GO
ALTER TABLE [dbo].[Sale]  WITH CHECK ADD  CONSTRAINT [FK_User_Sale] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Sale] CHECK CONSTRAINT [FK_User_Sale]
GO
ALTER TABLE [dbo].[SaleItem]  WITH CHECK ADD  CONSTRAINT [FK_BookCopy_SaleItem] FOREIGN KEY([BookCopyID])
REFERENCES [dbo].[BookCopy] ([BookCopyID])
GO
ALTER TABLE [dbo].[SaleItem] CHECK CONSTRAINT [FK_BookCopy_SaleItem]
GO
ALTER TABLE [dbo].[SaleItem]  WITH CHECK ADD  CONSTRAINT [FK_Sale_SaleItem] FOREIGN KEY([SaleID])
REFERENCES [dbo].[Sale] ([SaleID])
GO
ALTER TABLE [dbo].[SaleItem] CHECK CONSTRAINT [FK_Sale_SaleItem]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_user_person] FOREIGN KEY([PersonID])
REFERENCES [dbo].[Person] ([PersonID])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_user_person]
GO
ALTER TABLE [dbo].[Borrowing]  WITH CHECK ADD  CONSTRAINT [CK_Borrowing_Dates] CHECK  (([DueDate]>=[BorrowDate] AND [ReturnDate] IS NULL OR [ReturnDate]>=[BorrowDate]))
GO
ALTER TABLE [dbo].[Borrowing] CHECK CONSTRAINT [CK_Borrowing_Dates]
GO
ALTER TABLE [dbo].[Fine]  WITH CHECK ADD  CONSTRAINT [CK_Fine_Amount] CHECK  (([FineAmount]>=(0)))
GO
ALTER TABLE [dbo].[Fine] CHECK CONSTRAINT [CK_Fine_Amount]
GO
ALTER TABLE [dbo].[Member]  WITH CHECK ADD  CONSTRAINT [CK_Member_Dates] CHECK  (([EndDate] IS NULL OR [EndDate]>=[StartDate]))
GO
ALTER TABLE [dbo].[Member] CHECK CONSTRAINT [CK_Member_Dates]
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD  CONSTRAINT [CK_Payment_Amount] CHECK  (([PaymentAmount]>(0)))
GO
ALTER TABLE [dbo].[Payment] CHECK CONSTRAINT [CK_Payment_Amount]
GO
ALTER TABLE [dbo].[SaleItem]  WITH CHECK ADD  CONSTRAINT [chk_SalePrice] CHECK  (([SalePrice]>=(0)))
GO
ALTER TABLE [dbo].[SaleItem] CHECK CONSTRAINT [chk_SalePrice]
GO
/****** Object:  StoredProcedure [dbo].[SP_AddMemberPayment]    Script Date: 8/25/2026 2:45:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_AddMemberPayment]
    @MemberID INT,
    @PaymentAmount DECIMAL(10,2),
    @UserID INT,
    @Notes NVARCHAR(500) = NULL,
    @NewPaymentID INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO Payment
    (
        SaleID,
        FineID,
        BorrowingID,
        MemberID,
        PaymentAmount,
        PaymentDate,
        UserID,
        Notes
    )
    VALUES
    (
        NULL,
        NULL,
        NULL,
        @MemberID,
        @PaymentAmount,
        GETDATE(),
        @UserID,
        @Notes
    );

    SET @NewPaymentID = SCOPE_IDENTITY();
END
GO
/****** Object:  StoredProcedure [dbo].[SP_AddMemberWithPayment]    Script Date: 8/25/2026 2:45:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[SP_AddMemberWithPayment]
    @PersonID INT,
    @StartDate DATE,
    @EndDate DATE,
    @MemberStatus BIT,
	@PaymentAmount DECIMAL(10,2),
    @UserID INT,
    @Notes NVARCHAR(500) = NULL,
    @NewPaymentID INT OUTPUT,
    @NewMemberID INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

Begin Try
Begin Transaction 
	
    INSERT INTO Member (PersonID, StartDate, EndDate, MemberStatus)
    VALUES(@PersonID, @StartDate, @EndDate, @MemberStatus);

    SET @NewMemberID = SCOPE_IDENTITY();


	INSERT INTO Payment (SaleID, FineID, BorrowingID, MemberID, PaymentAmount, PaymentDate, UserID, Notes)
    VALUES(NULL, NULL, NULL, @NewMemberID, @PaymentAmount, GETDATE(), @UserID, @Notes);

    SET @NewPaymentID = SCOPE_IDENTITY();

	commit 

End Try

Begin Catch 
  IF @@TRANCOUNT > 0
	Rollback;

	throw;
End Catch
	
End


Select * from Member

Select * from Payment

GO
/****** Object:  StoredProcedure [dbo].[SP_AddNewBook]    Script Date: 8/25/2026 2:45:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_AddNewBook]
    @Title NVARCHAR(200),
    @AuthorName NVARCHAR(150),
    @BookCategoryID INT,
    @ISBN VARCHAR(20),
    @PublicationYear smallint, 
	@Description nvarchar(200)
AS
BEGIN

    INSERT INTO Book
    (
        Title,
        AuthorName,
        BookCategoryID,
        ISBN,
        PublicationYear,
		Description 
    )
    VALUES
    (
        @Title,
        @AuthorName,
        @BookCategoryID,
        @ISBN,
        @PublicationYear,
		@Description
    );

    SELECT SCOPE_IDENTITY();

END
GO
/****** Object:  StoredProcedure [dbo].[SP_AddNewBookCopy]    Script Date: 8/25/2026 2:45:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_AddNewBookCopy]
    @BookID INT
AS
BEGIN

    INSERT INTO BookCopy
    (
        BookID,
        BookCopyStatus
    )
    VALUES
    (
        @BookID,
        1
    );

    SELECT SCOPE_IDENTITY();

END
GO
/****** Object:  StoredProcedure [dbo].[SP_AddNewMember]    Script Date: 8/25/2026 2:45:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_AddNewMember]
    @PersonID INT,
    @StartDate DATE,
    @EndDate DATE,
    @MemberStatus BIT,
    @NewMemberID INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO Member
    (
        PersonID,
        StartDate,
        EndDate,
        MemberStatus
    )
    VALUES
    (
        @PersonID,
        @StartDate,
        @EndDate,
        @MemberStatus
    );

    SET @NewMemberID = SCOPE_IDENTITY();
END
GO
/****** Object:  StoredProcedure [dbo].[SP_AddNewPerson]    Script Date: 8/25/2026 2:45:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[SP_AddNewPerson]
@FullName nvarchar(50), @Address nvarchar(100) = null, @Phone nvarchar(100) = null, @Email nvarchar(100) = null, @DateOfBirth Date = null, @NewPersonID int output
as
begin
	Insert into Person (FullName, Address, Phone, Email, DateOfBirth)  
	values (@FullName, @Address, @Phone, @Email, @DateOfBirth)

	Set @NewPersonID = SCOPE_IDENTITY()
end
GO
/****** Object:  StoredProcedure [dbo].[SP_AddNewUser]    Script Date: 8/25/2026 2:45:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Create procedure [dbo].[SP_AddNewUser]
@PersonID int, @UserName nvarchar(50), @PasswordHash NVARCHAR(255), @IsActive Bit , @UserID int output 
as 
	begin 
		Set NoCount on;
		Insert into Users (PersonID, UserName, PasswordHash, IsActive)
		values (@PersonID, @UserName, @PasswordHash, @IsActive)

		Set @UserID = SCOPE_IDENTITY();
	End
GO
/****** Object:  StoredProcedure [dbo].[SP_BorrowBook]    Script Date: 8/25/2026 2:45:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE procedure [dbo].[SP_BorrowBook]
@MemberID int, @BookID int, @UserID int
as
begin 		
begin try 
begin transaction 
	
	
	Declare @BookCopyID int;
	Declare @BorrowingID int;
	if not exists
	(
	Select 1 from Member where MemberID = @MemberID AND MemberStatus = 1 AND EndDate >= GETDATE()
	)
	begin 
	        THROW 50001, 'Member does not exist or membership is not active.', 1;
	end

	Select top 1 @BookCopyID = BookCopyID from BookCopy where BookID = @BookID 
	and BookCopyStatus = 1
	
	if @BookCopyID is null
	    BEGIN
           THROW 50002, 'No available copy for this book.', 1;
        END

	INSERT INTO Borrowing
        (
            BookCopyID,
            MemberID,
            BorrowDate,
            DueDate,
            ReturnDate,
            BorrowingFee,
            UserID
        )
        VALUES
        (
            @BookCopyID,
            @MemberID,
            GETDATE(),
            DATEADD(Day, 7, GETDATE()),
            NULL,
            3.00,
            @UserID
        );

		Set @BorrowingID = SCOPE_IDENTITY();

	update BookCopy 
	Set BookCopyStatus = 2
	where BookCopyID = @BookCopyID

	INSERT INTO Payment
(
    SaleID,
    FineID,
    BorrowingID,
    MemberID,
    PaymentAmount,
    PaymentDate,
    UserID,
    Notes
)
VALUES
(
    NULL,
    NULL,
    @BorrowingID,
    @MemberID,
    3.00,
    GETDATE(),
    @UserID,
    'Borrowing Fee'
);

	commit TRANSACTION
end try
begin catch 
rollback;
	throw;
end catch
end


GO
/****** Object:  StoredProcedure [dbo].[SP_CompleteSale]    Script Date: 8/25/2026 2:45:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_CompleteSale]
    @PersonID INT,
    @UserID INT,
    @SaleDate DATETIME,
    @TotalAmount DECIMAL(10,2),
    @SaleItems SaleItemTableType READONLY, @SaleID int output
as 
begin 
begin try
BEGIN TRANSACTION

        INSERT INTO Sale(PersonID, SaleDate, UserID, TotalAmount)
        VALUES(@PersonID, @SaleDate, @UserID, @TotalAmount);
		
		Set @SaleID = Scope_Identity();

		
        INSERT INTO SaleItem(SaleID, BookCopyID, SalePrice)
		Select @SaleID, BookCopyID, SalePrice
		from @SaleItems;


		UPDATE BookCopy 
        SET BookCopyStatus = 3 
        FROM BookCopy BC
        INNER JOIN @SaleItems SI
            ON BC.BookCopyID = SI.BookCopyID;
		 COMMIT;

		 INSERT INTO Payment
(
    SaleID,
    FineID,
    BorrowingID,
    MemberID,
    PaymentAmount,
    PaymentDate,
    UserID,
    Notes
)
VALUES
(
    @SaleID,
    NULL,
    NULL,
    NULL,
    @TotalAmount,
    GETDATE(),
    @UserID,
    'Book Sale Payment'
);
    END TRY

    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK;

        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SP_DeactivateExpiredMembers]    Script Date: 8/25/2026 2:45:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE Procedure [dbo].[SP_DeactivateExpiredMembers]
As
	Begin 
		Update Member 
		Set MemberStatus = 0
		Where Cast (EndDate as Date) < Cast (GetDate() as Date) and 
		MemberStatus = 1;
	End
GO
/****** Object:  StoredProcedure [dbo].[SP_DeactivateMember]    Script Date: 8/25/2026 2:45:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_DeactivateMember]
    @MemberID INT
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE Member
    SET MemberStatus = 0
    WHERE MemberID = @MemberID;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_DeleteBook]    Script Date: 8/25/2026 2:45:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_DeleteBook]
    @BookID INT
AS
BEGIN

    DELETE FROM Book
    WHERE BookID = @BookID;

END
GO
/****** Object:  StoredProcedure [dbo].[SP_DeletePerson]    Script Date: 8/25/2026 2:45:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


create Procedure [dbo].[SP_DeletePerson] 
@PersonID int
as
	Begin 
		Delete from Person
		where PersonID = @PersonID;
	End
		
GO
/****** Object:  StoredProcedure [dbo].[SP_GetAllFine]    Script Date: 8/25/2026 2:45:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


Create procedure [dbo].[SP_GetAllFine]
as 
begin 
	
	SELECT        Fine.FineID, Person.FullName, Book.Title, FineType.FineTypeName, Fine.FineAmount, Fine.FineDate, 
	case 
	When Fine.IsPaid = 1 then 'Paid'
	when Fine.IsPaid = 0 then 'Unpaid'
	end as PaymentStatus
FROM            Fine INNER JOIN
                         Borrowing ON Fine.BorrowingID = Borrowing.BorrowingID INNER JOIN
                         Member ON Borrowing.MemberID = Member.MemberID INNER JOIN
                         Person ON Member.PersonID = Person.PersonID INNER JOIN
                         BookCopy ON Borrowing.BookCopyID = BookCopy.BookCopyID INNER JOIN
                         Book ON BookCopy.BookID = Book.BookID INNER JOIN
                         FineType ON Fine.FineTypeID = FineType.FineTypeID
End
GO
/****** Object:  StoredProcedure [dbo].[SP_GetAllMembers]    Script Date: 8/25/2026 2:45:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GetAllMembers]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT *
    FROM dbo.view_GetAllMembers;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetAllPayment]    Script Date: 8/25/2026 2:45:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


create procedure [dbo].[SP_GetAllPayment]
as 
	begin 

	Select * from Payment
end
GO
/****** Object:  StoredProcedure [dbo].[SP_GetAllPayments]    Script Date: 8/25/2026 2:45:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GetAllPayments]
AS
BEGIN

    SELECT
        Payment.PaymentID,

        Person.FullName AS MemberName,

        CASE
            WHEN Payment.SaleID IS NOT NULL THEN 'Sale'
            WHEN Payment.FineID IS NOT NULL THEN 'Fine'
            WHEN Payment.BorrowingID IS NOT NULL THEN 'Borrowing'
            ELSE 'Other'
        END AS PaymentType,

        Payment.PaymentAmount,
        Payment.PaymentDate,
        Payment.Notes

    FROM Payment

    INNER JOIN Member
        ON Payment.MemberID = Member.MemberID

    INNER JOIN Person
        ON Member.PersonID = Person.PersonID

    ORDER BY Payment.PaymentDate DESC;

END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetAllPersons]    Script Date: 8/25/2026 2:45:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[SP_GetAllPersons]
as 
begin 
	
	Select * from Person
	order by PersonID;
End
GO
/****** Object:  StoredProcedure [dbo].[SP_GetAllUsers]    Script Date: 8/25/2026 2:45:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GetAllUsers]
AS
BEGIN
    SET NOCOUNT ON;

	Select * from Users 
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_GetAvailableBookCopiesByBookID]    Script Date: 8/25/2026 2:45:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Create procedure [dbo].[SP_GetAvailableBookCopiesByBookID]
@BookID int
as 
begin 

	Select BookCopyID from BookCopy 
	where BookCopyStatus = 1 and BookID = @BookID;
End
GO
/****** Object:  StoredProcedure [dbo].[SP_GetAvailableCopiesCountByBookID]    Script Date: 8/25/2026 2:45:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GetAvailableCopiesCountByBookID]
    @BookID INT
AS
BEGIN
    SELECT COUNT(*) AS AvailableCopies
    FROM BookCopy
    WHERE BookID = @BookID
      AND BookCopyStatus = 1;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetBookByID]    Script Date: 8/25/2026 2:45:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GetBookByID]
    @BookID INT
AS
BEGIN

    SELECT
        BookID,
        Title,
        AuthorName,
        BookCategoryID,
        ISBN,
        PublicationYear,
        Description
    FROM Book
    WHERE BookID = @BookID;

END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetBookByISBN]    Script Date: 8/25/2026 2:45:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GetBookByISBN]
    @ISBN INT
AS
BEGIN
    SELECT 
        BookID,
        Title,
        AuthorName,
        BookCategoryID,
        ISBN,
        PublicationYear,
        Description
    FROM Book
    WHERE ISBN = @ISBN;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetBookByTitle]    Script Date: 8/25/2026 2:45:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GetBookByTitle]
    @Title NVARCHAR(200)
AS
BEGIN
    SELECT 
        BookID,
        Title,
        AuthorName,
        BookCategoryID,
        ISBN,
        PublicationYear,
        Description
    FROM Book
    WHERE Title = @Title;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetBookCopyByID]    Script Date: 8/25/2026 2:45:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GetBookCopyByID]
    @BookCopyID INT
AS
BEGIN

    SELECT
        BookCopyID,
        BookID,
        BookCopyStatus
    FROM BookCopy
    WHERE BookCopyID = @BookCopyID;

END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetCategoryByCategoryName]    Script Date: 8/25/2026 2:45:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GetCategoryByCategoryName]
    @CategoryName NVARCHAR(100),
    @CategoryID INT OUTPUT
AS
BEGIN

    SET @CategoryID = -1;

    SELECT @CategoryID = BookCategoryID
    FROM BookCategory
    WHERE BookCategoryName = @CategoryName;

END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetCategoryNameByCategoryID]    Script Date: 8/25/2026 2:45:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_GetCategoryNameByCategoryID]
    @CategoryID INT
AS
BEGIN

    SELECT BookCategoryName
    FROM BookCategory
    WHERE BookCategoryID = @CategoryID;

END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetFineInfoByID]    Script Date: 8/25/2026 2:45:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_GetFineInfoByID]
@FineID int
as 
begin	

SELECT        Fine.FineID, Fine.BorrowingID, Fine.FineAmount, Fine.FineDate, Fine.IsPaid, Person.FullName, Book.Title, FineType.FineTypeName
FROM            Fine INNER JOIN
                         Borrowing ON Fine.BorrowingID = Borrowing.BorrowingID INNER JOIN
                         Member ON Borrowing.MemberID = Member.MemberID INNER JOIN
                         Person ON Member.PersonID = Person.PersonID INNER JOIN
                         BookCopy ON Borrowing.BookCopyID = BookCopy.BookCopyID INNER JOIN
                         Book ON BookCopy.BookID = Book.BookID INNER JOIN
                         FineType ON Fine.FineTypeID = FineType.FineTypeID
WHERE        (Fine.FineID = @FineID)
end
GO
/****** Object:  StoredProcedure [dbo].[SP_GetMemberByID]    Script Date: 8/25/2026 2:45:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GetMemberByID]
    @MemberID INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        MemberID,
        PersonID,
        StartDate,
        EndDate,
        MemberStatus
    FROM Member
    WHERE MemberID = @MemberID;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetMemberByPersonID]    Script Date: 8/25/2026 2:45:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GetMemberByPersonID]
    @PersonID INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        MemberID,
        PersonID,
        StartDate,
        EndDate,
        MemberStatus
    FROM Member
    WHERE PersonID = @PersonID;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetPersonByID]    Script Date: 8/25/2026 2:45:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Create Procedure [dbo].[SP_GetPersonByID]
@PersonID int 
as 
	Begin 
		Select * from Person Where PersonID = @PersonID;
	End
GO
/****** Object:  StoredProcedure [dbo].[SP_GetUserByID]    Script Date: 8/25/2026 2:45:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GetUserByID]
    @UserID INT
AS
BEGIN
    SET NOCOUNT ON;

	Select * from Users 
	Where UserID = @UserID;

END;
GO
/****** Object:  StoredProcedure [dbo].[SP_IsBookIDExists]    Script Date: 8/25/2026 2:45:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_IsBookIDExists]
    @BookID INT
AS
BEGIN

    IF EXISTS
    (
        SELECT 1
        FROM Book
        WHERE BookID = @BookID
    )
        RETURN 1;

    ELSE
        RETURN 0;

END
GO
/****** Object:  StoredProcedure [dbo].[SP_IsISBNExists]    Script Date: 8/25/2026 2:45:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_IsISBNExists]
    @ISBN VARCHAR(20)
AS
BEGIN

    IF EXISTS
    (
        SELECT 1
        FROM Book
        WHERE ISBN = @ISBN
    )
        RETURN 1;

    ELSE
        RETURN 0;

END
GO
/****** Object:  StoredProcedure [dbo].[SP_IsMemberIDExists]    Script Date: 8/25/2026 2:45:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


Create Procedure [dbo].[SP_IsMemberIDExists] 
@MemberID int
as 
	Begin 
		
		if exists(Select 1 from Member Where MemberID = @MemberID)
		return 1

		else 
		return 0
	End
GO
/****** Object:  StoredProcedure [dbo].[SP_IsPersonExists]    Script Date: 8/25/2026 2:45:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Create procedure [dbo].[SP_IsPersonExists]
@PersonID int
as 
	Begin 
		if Exists(Select 1 from Users Where PersonID = @PersonID)
		return 1

		else
		return 0
	end
GO
/****** Object:  StoredProcedure [dbo].[SP_IsPersonMember]    Script Date: 8/25/2026 2:45:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_IsPersonMember]
    @PersonID INT
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS
    (
        SELECT 1
        FROM Member
        WHERE PersonID = @PersonID
    )
        RETURN 1;

    RETURN 0;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_IsUserNameExist]    Script Date: 8/25/2026 2:45:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_IsUserNameExist]
@UserName nvarchar(50)
AS
BEGIN
    SET NOCOUNT ON;

	if exists (Select 1 from Users where UserName = @UserName)
	return 1

	else 
	return 0
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_Login]    Script Date: 8/25/2026 2:45:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Create procedure [dbo].[SP_Login]
@UserName nvarchar(50), @PasswordHash nvarchar(100)
as 
begin 
	Select UserID, UserName, IsActive from Users
	Where UserName = @UserName and PasswordHash = @PasswordHash and IsActive = 1
		
end
GO
/****** Object:  StoredProcedure [dbo].[SP_PayFine]    Script Date: 8/25/2026 2:45:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[SP_PayFine] 
@FineID int, @UserID int
as 
begin 
begin try  
begin transaction 

	Declare @MemberID int;
	DECLARE @FineAmount DECIMAL(10,2);

	
	if not exists
	(
		Select 1 from fine where FineID = @FineID and IsPaid = 0 
	)
	begin 
		 THROW 50001, 'Fine does not exist or is already paid.', 1;
		end

SELECT 
    @MemberID = B.MemberID,
    @FineAmount = F.FineAmount
FROM Fine F
INNER JOIN Borrowing B
    ON F.BorrowingID = B.BorrowingID
WHERE F.FineID = @FineID;;


	INSERT INTO Payment
(
    SaleID,
    FineID,
    BorrowingID,
    MemberID,
    PaymentAmount,
    PaymentDate,
    UserID,
    Notes
)
VALUES
(
    NULL,
    @FineID,
    NULL,
    @MemberID,
    @FineAmount,
    GETDATE(),
    @UserID,
    'Fine Payment'
);

	Update Fine 
	Set IsPaid = 1
	where FineID = @FineID;

	COMMIT TRANSACTION;
end try
	BEGIN CATCH
    IF @@TRANCOUNT > 0
        ROLLBACK TRANSACTION;
    THROW;
END CATCH
end

GO
/****** Object:  StoredProcedure [dbo].[SP_RenewMember]    Script Date: 8/25/2026 2:45:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[SP_RenewMember]
    @MemberID INT,
    @StartDate DATETIME,
    @EndDate DATETIME, 
	@PaymentAmount decimal(10,2),
	@UserID int
AS
Begin 
		
Begin Try
Begin Transaction
	
	Update Member 
	Set StartDate = @StartDate,
	EndDate = @EndDate,
	MemberStatus = 1
	Where MemberID = @MemberID and Cast (EndDate as Date) < Cast(GETDATE() as Date) and MemberStatus = 0

	BEGIN
	if @@ROWCOUNT = 0
        THROW 50001, 'Member does not exist or membership is still active.', 1;
    END

	
	INSERT INTO Payment (SaleID, FineID, BorrowingID, MemberID, PaymentAmount, PaymentDate, UserID, Notes)
    VALUES(NULL, NULL, NULL, @MemberID, @PaymentAmount, GETDATE(), @UserID, 'Renewal Membership');

	commit 
End Try

Begin Catch 
 IF @@TRANCOUNT > 0
	Rollback;

	throw;
End Catch
	
End	

GO
/****** Object:  StoredProcedure [dbo].[SP_ReturnBookAfterBorrowed]    Script Date: 8/25/2026 2:45:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE Procedure [dbo].[SP_ReturnBookAfterBorrowed]
@BorrowingID int, @ReturnUserID int, @HasFine bit output
as
begin

begin try
begin transaction 

	Declare @BookCopyID int;
	Declare @DueDate date;
	
	Select @BookCopyID = BookCopyID, @DueDate = DueDate from Borrowing 
	Where BorrowingID = @BorrowingID;
	
	Update Borrowing 
	Set ReturnDate = GETDATE(), 
	ReturnUserID = @ReturnUserID
	Where BorrowingID = @BorrowingID and ReturnDate is null;

	IF @@ROWCOUNT = 0
    THROW 50001, 'This book has already been returned.', 1;

	if (@DueDate < Cast (GETDATE() as Date))
	Begin 
		insert into Fine (BorrowingID, FineTypeID, FineAmount,FineDate, IsPaid, UserID)
		values (@BorrowingID, 3, 5.00, GETDATE(), 0, @ReturnUserID);
		Set @HasFine = 1
	end

	else
	Set @HasFine = 0;

	Update BookCopy 
	Set BookCopyStatus = 1
	Where BookCopyID = @BookCopyID;


commit 
end try 

begin catch 
	rollback;
	throw;
end catch 
end
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateBook]    Script Date: 8/25/2026 2:45:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_UpdateBook]
    @BookID INT,
    @Title NVARCHAR(200),
    @AuthorName NVARCHAR(150),
    @BookCategoryID INT,
    @ISBN VARCHAR(20),
    @PublicationYear SMALLINT,
    @Description NVARCHAR(200)
AS
BEGIN

    UPDATE Book
    SET
        Title = @Title,
        AuthorName = @AuthorName,
        BookCategoryID = @BookCategoryID,
        ISBN = @ISBN,
        PublicationYear = @PublicationYear,
        Description = @Description
    WHERE BookID = @BookID;

END
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateBookCopyStatus]    Script Date: 8/25/2026 2:45:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_UpdateBookCopyStatus]
    @BookCopyID INT,
    @BookCopyStatus BIT
AS
BEGIN

    UPDATE BookCopy
    SET BookCopyStatus = @BookCopyStatus
    WHERE BookCopyID = @BookCopyID;

END
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateMember]    Script Date: 8/25/2026 2:45:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_UpdateMember]
    @MemberID INT,
    @PersonID INT,
    @StartDate DATE,
    @EndDate DATE,
    @MemberStatus BIT
AS
BEGIN

	begin Try
    UPDATE Member
    SET
        PersonID = @PersonID,
        StartDate = @StartDate,
        EndDate = @EndDate,
        MemberStatus = @MemberStatus
    WHERE MemberID = @MemberID;
	End Try

	Begin Catch 
	Throw;
End Catch 
END
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdatePerson]    Script Date: 8/25/2026 2:45:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE Procedure [dbo].[SP_UpdatePerson]
@PersonID int ,@FullName nvarchar(50), @Address nvarchar(100), @Phone nvarchar(20) , @Email nvarchar(100) , @DateOfBirth Date
as
begin
	Update Person 
	Set FullName = @FullName,
	Address = @Address, 
	Phone = @Phone, 
	Email = @Email, 
	DateOfBirth = @DateOfBirth
	Where PersonID = @PersonID;	
	return @@RowCount
end
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateUser]    Script Date: 8/25/2026 2:45:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[SP_UpdateUser]
@UserID int, @UserName nvarchar(50), @IsActive Bit, @RowsAffected INT OUTPUT
as 
	begin 
		Set NoCount on;
		Update Users 
		Set UserName = @UserName,
		IsActive = @IsActive
		Where UserID = @UserID

		SET @RowsAffected = @@ROWCOUNT;
	End
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateUserPassword]    Script Date: 8/25/2026 2:45:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_UpdateUserPassword]
    @UserID INT,
    @PasswordHash NVARCHAR(255)
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE Users
    SET PasswordHash = @PasswordHash
    WHERE UserID = @UserID;

    RETURN @@ROWCOUNT;
END;
GO
USE [master]
GO
